:root{
   --color-primary:#1838b9;
}

.text-primary{
    color:var(--color-primary);
}
.background-primary{
    background-color:var(--color-primary);
}


/*Utilities*/
.max-full-width{
    max-width: 100%;
}
.display-flex{
    display: flex;
}
.border-radius{
    border-radius: 100%;
}
.photo img{
    max-width: 220px;
}

.margin-top-large{
    margin-top: 40px;
}
.margin-top-medium{
    margin-top: 32px;
}
.margin-top-base{
    margin-top: 20px;
}
.margin-top-s{
    margin-top: 12px;
}
.margin-top-xs{
    margin-top: 4px;
}
.margin-top-none{
    margin-top: 0px;
}

.margin-bottom-large{
    margin-bottom: 40px;
}
.margin-bottom-medium{
    margin-bottom: 32px;
}
.margin-bottom-base{
    margin-bottom: 20px;
}
.margin-bottom-s{
    margin-bottom: 12px;
}
.margin-bottom-xs{
    margin-bottom: 4px;
}
.margin-bottom-none{
    margin-bottom: 0px;
}


.bold{
    font-weight: 700;
}
.semi-bold{
    font-weight: 600;
}


html,body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
body{
    max-width: 1600px;
    margin: auto;
}
h1{
    font-size: 40px;
}
p,h1,h2,h3,h4 {
    margin-block-start: 10px;
    margin-block-end: 10px;
}
a{
    color: var(--color-primary);
}



.desktop header{
    display: flex;
    padding: 20px 40px;
}
header nav a.navigation-item{
     color: #686868;
     text-decoration: none;
     margin-right: 16px;
}
header nav a.navigation-item.active{
    color: #000;
    text-decoration: underline;
}
header nav a.navigation-item:hover{
    color: #000;
    text-decoration: underline;
}
.phone header,
.tablet header{
    padding: 20px 20px;
}


.desktop main {
    padding: 20px 40px;
}

.phone main,
.tablet main {
    padding: 20px 20px;
}



.intro{
    padding-top: 30px;
    padding-bottom: 30px;
}
.intro *{
    text-align: center;
}
.intro h1,
.intro h4{
    margin: 0px;
}
.intro h2{
    color:#1838b9
}
.intro h4{
    font-weight: normal;
}


.grid-container {
    display: grid;
    gap:16px;
}
.grid-columns-2 {
    grid-template-columns: auto auto;
}
.grid-columns-3 {
    grid-template-columns: auto auto auto;
}
.grid-columns-4 {
    grid-template-columns: auto auto auto auto;
}
body.home.desktop .grid-container {
    padding: 40px;
}
.grid-item{
    display:flex;
    flex-direction: column;
}
.home .grid-item{
    background-color: #e9eef2;
}
.grid-item .thumbnail{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.grid-container .grid-item img{
    width: 600px;
    max-width: 100%;
}
.grid-container .grid-item .meta-information{
    text-align: center;
}
.phone .grid-container{
    grid-template-columns: auto;
}


#section-experience{
    padding: 40px;
    background-color: #f8f8f8;
}
#section-experience > div{
    max-width: 1200px;
    margin: auto;
}


/*About Page*/
.about main{
    margin-top: 40px;
}
.desktop.about main{
    display: flex;
    margin-top: 60px;
}
.desktop.about main .services{
    width: 33%;
    padding-right: 24px;
}
.desktop.about main .bio{
    width: 60%;
}
.tablet.about main .bio,
.phone.about main .bio{
    margin-top: 40px;
}
.desktop.about h1{
    padding-left: 120px;
    padding-right: 120px;
}
.about h1{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
